# Captured from localhost-live on Mon 02 Mar 2026 05:36:48 AM PST
[ActionPlugins][0]
MiddleButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu
wheel:Vertical;NoModifier=org.kde.switchdesktop

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][178]
ItemGeometries-1280x800=
ItemGeometries-1920x1080=
ItemGeometriesHorizontal=
activityId=95e50ffc-5f5a-4aac-b260-1c4020451c92
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][178][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][178][General]
ToolBoxButtonState=topcenter
ToolBoxButtonX=444
ToolBoxButtonY=20

[Containments][178][Wallpaper][org.kde.color][General]
Color=0,0,0

[Containments][178][Wallpaper][org.kde.image][General]
Image=file:///home/bhupi/Pictures/Wallpapers/wallhaven_20260302_030040.jpg

[Containments][179]
activityId=95e50ffc-5f5a-4aac-b260-1c4020451c92
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][179][Applets][184]
activityId=95e50ffc-5f5a-4aac-b260-1c4020451c92
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.plasma.systemtray
popupHeight=432
popupWidth=432
wallpaperplugin=org.kde.image

[Containments][179][Applets][184][Applets][186]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][179][Applets][184][Applets][187]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][179][Applets][184][Applets][188]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][179][Applets][184][Applets][189]
immutability=1
plugin=org.kde.kdeconnect

[Containments][179][Applets][184][Applets][190]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][179][Applets][184][Applets][191]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][179][Applets][184][Applets][192]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][179][Applets][184][Applets][193]
immutability=1
plugin=org.kde.plasma.volume

[Containments][179][Applets][184][Applets][193][Configuration][General]
migrated=true

[Containments][179][Applets][184][Applets][194]
immutability=1
plugin=org.kde.plasma.vault

[Containments][179][Applets][184][Applets][195][Configuration]
PreloadWeight=42

[Containments][179][Applets][184][Applets][196]
immutability=1
plugin=org.kde.kscreen

[Containments][179][Applets][184][Applets][199][Configuration]
PreloadWeight=42

[Containments][179][Applets][184][Applets][200]
immutability=1
plugin=org.kde.plasma.battery

[Containments][179][Applets][184][Applets][201]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][179][Applets][184][Applets][202]
immutability=1
plugin=org.kde.plasma.cameraindicator

[Containments][179][Applets][184][Applets][236]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][179][Applets][184][Applets][237]
immutability=1
plugin=org.kde.plasma.weather

[Containments][179][Applets][184][Applets][238]
immutability=1
plugin=org.kde.plasma.brightness

[Containments][179][Applets][184][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][179][Applets][184][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.kscreen,org.kde.plasma.clipboard,org.kde.plasma.cameraindicator,org.kde.plasma.weather,org.kde.plasma.brightness,org.kde.plasma.keyboardindicator
hiddenItems=Back In Time,ibus-ui-gtk3,org.kde.plasma.clipboard,org.kde.plasma.brightness
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.brightness,org.kde.plasma.cameraindicator,org.kde.plasma.weather

[Containments][179][Applets][197]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][179][Applets][197][Configuration]
popupHeight=450
popupWidth=396

[Containments][179][Applets][203]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][179][Applets][205]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][179][Applets][239]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][179][Applets][239][Configuration][General]
actionsOrder=lockScreen,switchUser,requestShutDown,requestReboot,requestLogout,requestLogoutScreen,suspendToRam,suspendToDisk

[Containments][179][Applets][241]
immutability=1
plugin=org.kde.plasma.kicker

[Containments][179][Applets][241][Configuration]
popupHeight=476
popupWidth=312

[Containments][179][Applets][241][Configuration][General]
favoritesPortedToKAstats=true

[Containments][179][ConfigDialog]
DialogHeight=84
DialogWidth=1920

[Containments][179][General]
AppletOrder=241;205;203;184;197;239

[Containments][211]
activityId=95e50ffc-5f5a-4aac-b260-1c4020451c92
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][211][Applets][214]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][211][Applets][214][Configuration][General]
groupingAppIdBlacklist=org.kde.konsole.desktop
groupingLauncherUrlBlacklist=applications:org.kde.konsole.desktop
launchers=

[Containments][211][Applets][215]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][211][Applets][234]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][211][Applets][234][Configuration][General]
expanding=false

[Containments][211][Applets][235]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][211][Applets][235][Configuration][General]
expanding=false

[Containments][211][ConfigDialog]
DialogHeight=84
DialogWidth=1920

[Containments][211][General]
AppletOrder=235;214;234;215

[Containments][217]
activityId=95e50ffc-5f5a-4aac-b260-1c4020451c92
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][217][Applets][218]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][217][Applets][219]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][217][Applets][220]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][217][Applets][221]
immutability=1
plugin=org.kde.kdeconnect

[Containments][217][Applets][222]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][217][Applets][223]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][217][Applets][224]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][217][Applets][225]
immutability=1
plugin=org.kde.plasma.volume

[Containments][217][Applets][225][Configuration][General]
migrated=true

[Containments][217][Applets][226]
immutability=1
plugin=org.kde.plasma.vault

[Containments][217][Applets][227]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][217][Applets][228]
immutability=1
plugin=org.kde.kscreen

[Containments][217][Applets][231]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][217][Applets][231][Configuration]
PreloadWeight=42

[Containments][217][Applets][232]
immutability=1
plugin=org.kde.plasma.battery

[Containments][217][Applets][233]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][217][Configuration]
PreloadWeight=42

[Containments][217][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.nightcolorcontrol

[Containments][217][Wallpaper][org.kde.image][General]
Image=file:///home/bhupi/Pictures/Wallpapers/wallhaven_20260302_030040.jpg

[Containments206Appletsts][182][Configuration][General]
groupingAppIdBlacklist=org.kde.konsole.desktop
groupingLauncherUrlBlacklist=applications:org.kde.konsole.desktop
groupingStrategy=0
launchers=preferred://filemanager,applications:microsoft-edge.desktop,applications:thunderbird.desktop,applications:org.kde.kate.desktop,applications:doublecmd.desktop,applications:virt-manager.desktop

[ScreenMapping]
itemsOnDisabledScreens=1,b57cce92-b72c-4053-8913-d7a424d7ddbc,1,desktop:/Client_Documents
screenMapping=file:///home/bhupi/Desktop/UFV,0,b57cce92-b72c-4053-8913-d7a424d7ddbc,file:///home/bhupi/Desktop/Client_Documents,1,b57cce92-b72c-4053-8913-d7a424d7ddbc
