# Captured from lenovopc on Sat 28 Feb 2026 04:24:06 AM PST
[ActionPlugins][0]
MiddleButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu
wheel:Vertical;NoModifier=org.kde.switchdesktop

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][178]
ItemGeometries-1920x1080=
ItemGeometriesHorizontal=
activityId=b57cce92-b72c-4053-8913-d7a424d7ddbc
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.color

[Containments][178][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][178][General]
ToolBoxButtonState=topcenter
ToolBoxButtonX=444
ToolBoxButtonY=20

[Containments][178][Wallpaper][org.kde.color][General]
Color=0,0,0

[Containments][179]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][179][Applets][184]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][179][Applets][184][Configuration]
PreloadWeight=95
SystrayContainmentId=185

[Containments][179][Applets][197]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][179][Applets][197][Configuration]
PreloadWeight=55
popupHeight=450
popupWidth=396

[Containments][179][Applets][203]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][179][Applets][205]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][179][ConfigDialog]
DialogHeight=84
DialogWidth=1920

[Containments][179][General]
AppletOrder=205;203;184;197

[Containments][185]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.plasma.private.systemtray
popupHeight=432
popupWidth=432
wallpaperplugin=org.kde.image

[Containments][185][Applets][186]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][185][Applets][187]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][185][Applets][188]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][185][Applets][189]
immutability=1
plugin=org.kde.kdeconnect

[Containments][185][Applets][190]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][185][Applets][191]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][185][Applets][191][Configuration]
PreloadWeight=60

[Containments][185][Applets][192]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][185][Applets][193]
immutability=1
plugin=org.kde.plasma.volume

[Containments][185][Applets][193][Configuration]
PreloadWeight=60

[Containments][185][Applets][193][Configuration][General]
migrated=true

[Containments][185][Applets][194]
immutability=1
plugin=org.kde.plasma.vault

[Containments][185][Applets][195][Configuration]
PreloadWeight=42

[Containments][185][Applets][196]
immutability=1
plugin=org.kde.kscreen

[Containments][185][Applets][199][Configuration]
PreloadWeight=42

[Containments][185][Applets][200]
immutability=1
plugin=org.kde.plasma.battery

[Containments][185][Applets][201]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][185][Applets][201][Configuration]
PreloadWeight=55

[Containments][185][Applets][202]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][185][Applets][202][Configuration]
PreloadWeight=42

[Containments][185][Applets][236]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][185][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][185][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.kscreen,Back In Time,ibus-ui-gtk3,org.kde.plasma.clipboard
hiddenItems=Back In Time,ibus-ui-gtk3,org.kde.plasma.clipboard
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.nightcolorcontrol

[Containments][211]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][211][Applets][214]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][211][Applets][214][Configuration][General]
launchers=preferred://filemanager

[Containments][211][Applets][215]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][211][Applets][234]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][211][Applets][235]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][211][ConfigDialog]
DialogHeight=84
DialogWidth=1920

[Containments][211][General]
AppletOrder=235;214;234;215

[Containments][217]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][217][Applets][218]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][217][Applets][218][Configuration]
PreloadWeight=42

[Containments][217][Applets][219]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][217][Applets][219][Configuration]
PreloadWeight=42

[Containments][217][Applets][220]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][217][Applets][220][Configuration]
PreloadWeight=42

[Containments][217][Applets][221]
immutability=1
plugin=org.kde.kdeconnect

[Containments][217][Applets][221][Configuration]
PreloadWeight=42

[Containments][217][Applets][222]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][217][Applets][222][Configuration]
PreloadWeight=42

[Containments][217][Applets][223]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][217][Applets][223][Configuration]
PreloadWeight=42

[Containments][217][Applets][224]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][217][Applets][224][Configuration]
PreloadWeight=42

[Containments][217][Applets][225]
immutability=1
plugin=org.kde.plasma.volume

[Containments][217][Applets][225][Configuration]
PreloadWeight=42

[Containments][217][Applets][225][Configuration][General]
migrated=true

[Containments][217][Applets][226]
immutability=1
plugin=org.kde.plasma.vault

[Containments][217][Applets][226][Configuration]
PreloadWeight=42

[Containments][217][Applets][227]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][217][Applets][227][Configuration]
PreloadWeight=42

[Containments][217][Applets][228]
immutability=1
plugin=org.kde.kscreen

[Containments][217][Applets][228][Configuration]
PreloadWeight=42

[Containments][217][Applets][231]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][217][Applets][231][Configuration]
PreloadWeight=42

[Containments][217][Applets][232]
immutability=1
plugin=org.kde.plasma.battery

[Containments][217][Applets][232][Configuration]
PreloadWeight=42

[Containments][217][Applets][233]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][217][Applets][233][Configuration]
PreloadWeight=42

[Containments][217][Configuration]
PreloadWeight=42

[Containments][217][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.kscreen,org.kde.plasma.nightcolorcontrol

[Containments206Appletsts][182][Configuration][General]
groupingAppIdBlacklist=org.kde.konsole.desktop
groupingLauncherUrlBlacklist=applications:org.kde.konsole.desktop
groupingStrategy=0
launchers=preferred://filemanager,applications:microsoft-edge.desktop,applications:thunderbird.desktop,applications:org.kde.kate.desktop,applications:doublecmd.desktop,applications:virt-manager.desktop

[ScreenMapping]
itemsOnDisabledScreens=1,b57cce92-b72c-4053-8913-d7a424d7ddbc,1,desktop:/Client_Documents
screenMapping=file:///home/bhupi/Desktop/Client_Documents,1,b57cce92-b72c-4053-8913-d7a424d7ddbc,file:///home/bhupi/Desktop/UFV,0,b57cce92-b72c-4053-8913-d7a424d7ddbc
